.settings--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  height: 100%;
  padding: 0 1rem;

  .logout--container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}