.tabs--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;

  background-color: $main-white;
  border-top: 1px solid $main-grey;
}