#app
  #nav
    Header(
      v-if='showHeader'
    )
    .page--container(
      :class='{"min": showHeader, "showing--spinner": showSpinner }'
    )
      router-view
    TabBar(
      v-if='isLogged'
    )
  hexagon(
    v-show='showSpinner'
  )
    