#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  height: 100vh;

  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }

  .page--container {
    width: 100%;
    height: calc(100vh - 4rem);
    overflow: hidden;

    &.min {
      position: relative;
      top: 3rem;
      height: calc(100vh - 7rem);
      overflow-y: scroll;
    }
  }
}