.home
  .fav--movies
    h1 Favorites Movies
    .fav--media
      .media(
        v-for='movie in userMovies.favorites'
        :key='movie.uid'
      )
        .media--poster(
          :style='{ backgroundImage: "url(" + movie.Poster + ")" }'
        )
        p {{ movie.Title }}

  .fav--series
    h1 Favorites Series
    .fav--media
      .media(
        v-for='serie in userSeries.favorites'
        :key='serie.uid'
      )
        .media--poster(
          :style='{ backgroundImage: "url(" + serie.Poster + ")" }'
        )
        p {{ serie.Title }}